/* Configuración para Diseñadores Gráficos */
body {
    font-family: sans-serif;
    background-color: #FFAAA6; /* Un gris claro de fondo */
    color: #0A0A0A; /* Texto gris oscuro para mejor lectura */
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #FF8C94; /* Un color elegante */
    color: white;
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 50%; /* Hace que la foto de perfil sea circular */
    border: 5px solid #FEFAE0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

section {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}
